@using Facebook.Web.Mvc
@{
    ViewBag.Title = "Play";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Html.CanvasActionLink("Invite", "Index", "Home")
&nbsp;
@Html.CanvasActionLink("Play", "Play", "Home")
<div id="slotMachine">
    <p id="slotCredits">
        15</p>
    <a href="#" id="slotTrigger">spin</a>
    <div id="wheel1" class="wheel">        
        <img src="../../Content/Slot/images/wheel1.gif" alt="" />
        <img src="../../Content/Slot/images/ani.gif" alt="" class="slotSpinAnimation" />
    </div>
    <div id="wheel2" class="wheel">
        <img src="../../Content/Slot/images/wheel2.gif" alt="" />
        <img src="../../Content/Slot/images/ani.gif" alt="" class="slotSpinAnimation" />
    </div>
    <div id="wheel3" class="wheel">
        <img src="../../Content/Slot/images/wheel3.gif" alt="" />
        <img src="../../Content/Slot/images/ani.gif" alt="" class="slotSpinAnimation" />
    </div>
    <img src="../../Content/Slot/images/over.png" alt="" id="wheelOverlay" />
    <p id="slotSplash">
        <a href="#">start</a>
    </p>
</div>
